##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
flower = None #None untuk membuat empty variable

2. > Create a variable containing your name (Points : 5)

In [ ]:
name = 'Nur'   #ketik nama varibel kemudian sama dengan, untuk nama adalah type string maka gunakan tanda petik atas untuk membuat variabel
print(name)    #menampilkan variabel name

Nur

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
classrooms = ['book', 'pencil' , 'backpack', 'eraser', 'bolpoin'] #list dengan item string gunakan petik atas dan koma tiap menambahkan itemnya serta dikurung menggunakan kurung siku
classrooms                                                        #menampilkan list yang telah dibuat

['book', 'pencil', 'backpack', 'eraser', 'bolpoin']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
film_dict = {                                  #membuat dict berisi 2 keys dan value
            'genre': 'romance',
            'bahasa':'Indonesia'
            }
film_dict                                      #menampilkan dict yang telah dibuat

{'genre': 'romance', 'bahasa': 'Indonesia'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#mendefinisikan variabel yang diperlukan
price         =12000
quantity_sold =20
disc          =0.1
#menghitung total uangnya adalah harga dikali( menggunakan tanda *) banyaknya barang dikurangi dengan harga total barang dikali diskon
total         =price*quantity_sold-(price*quantity_sold*disc)  
#print total dengan memanggil variabelnya
total

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries=['China','Finlandia', 'Germany','India','Indonesia','Japan','Kanada'] #membuat list dengan item 7 kota di dunia
countries                                                                       #menampilan list yang telah dibuat

['China', 'Finlandia', 'Germany', 'India', 'Indonesia', 'Japan', 'Kanada']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]   #gunakan index 0 sampai 4 akan diambil kota dengan index 0,1,2,3 dan kota tersebut adalah 4 kota pertama dalam list

['China', 'Finlandia', 'Germany', 'India']

In [ ]:
# Append new country to the list (Points : 5)

countries.append('North Korea')  #gunakan append untuk menambah item pada list
countries                        #menampilkan list countries setelah ditambahkan item

['China',
 'Finlandia',
 'Germany',
 'India',
 'Indonesia',
 'Japan',
 'Kanada',
 'North Korea']

In [ ]:
# Drop one country from the list (Points : 5)

del countries [2]   #untuk drop item pada list dapat menggunakan del dengan menuliskan indexnya
countries           #menampilkan list setelah drop item dengan index 2 yakni Germany

['China', 'Finlandia', 'India', 'Indonesia', 'Japan', 'Kanada', 'North Korea']

In [ ]:
# Get country in the last index (Points : 5)

countries [-1]  #item terakhir dalam list adalah item dengan index -1, panggil item itu dengan nama list kurung siku index -1

'North Korea'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
            "name":['Dio','Eka','Wayu','Riki'],
            "age":[20,19,24,39],
            "gender":[1,0,0,1],
            "membership":['Platinum','Gold','Silver','Silver']
         }

In [ ]:
# Print all keys in customer (Points : 5)

customer.keys()  #dapat menggunakan (namadict).keys() untuk print semua key dalam dict

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)

customer['name']  #gunakan nama dict kemudian nama key dengan tanda petik atas dan diapit kurung siku untuk print semua value dalam key

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)
customer['name'][0]  #tulis nama dict dan key kemudian nilai index 0 untuk print value pertama dalam key

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

del (customer['name']) #gunakan del dengan menyebutkan key
customer               #menampilkan dict setelah drop key "age"

{'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

for gender, value in customer.items(): #membuat fungsi untuk value dalam key gender pada dict customer
      for x in value :                 #membuat fungsi perulangan untuk membaca value dari key gender
        if x==1:                       #membuat fungsi replace jika value dalam gender bernilai 1 akan diubah menjadi Male 
         gender='Male'
        elif x==0:                     #fungsi else if sebagai replace untuk nilai value selain 1 dalam gender, yakni bernilai 0 akan diubah menjadi Female
         gender='Female'
customer                               #menampilkan dict customer setelah diberi perubahan value

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}